@import "tailwindcss";

@theme {
  --color-brand: #15cd8d;
  --color-infavor: #16a34a;
  --color-against: #c03c3c;
  --color-neutral: #9ca3af;
  --font-handwriting: "Playwrite AT Variable", cursive;
  --font-slab: "Zilla Slab", serif;
  --font-sans: "Atkinson Hyperlegible", sans-serif;
  --animate-bounce: gentle-bounce 2.5s ease-in-out infinite;

  @keyframes gentle-bounce {
    0%,
    20%,
    80%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#f5f5f5] text-gray-700 antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-700;
  }

  h2 {
    @apply font-bold text-2xl pt-9 text-green-700 text-center;
  }

  h3 {
    @apply font-bold text-xl pb-3 font-slab;
  }

  h4 {
    @apply text-xl font-slab;
  }
  a {
    @apply no-underline;
  }
}
